{% extends "layout.html" %}
{% load static from staticfiles %}
        {% block title %}About | IRSC | DTU{% endblock %}

{% block content %}
    <body class="about">

        <!-- Preloader -->
        <div class="preloader flex flex-middle flex-center">
            <div class="wrapper">
                <div class="loader"></div>
            </div>
        </div>

        <!-- Navbar -->
        <nav class="navbar navbar-burger navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'home' %}">IRSC DELTECH</a>
                    <span class="sr-only">Toggle navigation</span>
                    <button class="icon icon-menu burger-menu"></button>
                </div>
                <div class="menu-wrapper">
                    <div class="overlay-menu flex flex-middle">
                        <ul class="navigation" role="menubar">
                          <li role="menuitem"><a href="{% url 'home' %}">Home</a></li>
                          <li role="menuitem"><a href="{% url 'about' %}">About</a></li>
                          <li role="menuitem"><a href="{% url 'contact' %}">Contact</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Header -->
        <header class="site-header" role="banner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <hgroup class="title-group">
                            <h1 class="bigtitle">About Us</h1>
                            <h4>A Rendezvous with IRSC DTU</h4>
                        </hgroup>
                    </div>
                </div>
            </div>
        </header>

        <!-- Content -->
        <main class="main" role="main">

            <!-- Who we are -->
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <hgroup class="title-group text-center">
                                <h3 class="section-title">IRSC</h3>
                                <h5 class="subtitle">The Harbinger of Road Safety in India</h5>
                            </hgroup>
                        </div>
						<div class="col-md-6">
                            <hgroup class="title-group text-center">
                                <h3 class="section-title">IRSC DTU</h3>
                                <h5 class="subtitle">We carry the torch lit by IRSC</h5>
                            </hgroup>
                        </div>
                        <!-- <div class="col-md-4 col-md-offset-2">
                            <p></p>
                        </div> -->
                        <div class="col-md-6">
                            <p>The Indian Road Safety Campaign was started as a project under the IIT Delhi chapter of National Service Scheme with help of Transport Research and Injury Prevention Program ( set up under Government of India) when few students of IIT Delhi lost their precious life in a road accident just after being placed in well reputed firms.</p>
                        </div>
                        <br>

                        <div class="col-md-6">
                            <p>IRSC DTU chapter is an effort to carry forward the ideology of road safety.We work on various domains of road safety such as Technical, Legal, Medical etc. We work both independently along with constant collaboration with various NGOs and authorities.</p>
                        </div>

                    </div>
                </div>
            </section>

            <!-- What we do -->
            <section class="section">
                <div class="container">
                    <div class="row flex flex-center">
                      <div class="col-md-12">
                          <hgroup class="title-group text-center">
                              <h3 class="section-title">Departments @IRSC DTU</h3>
                              <h5 class="subtitle">A look at our operations</h5>
                          </hgroup>
                      </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="iconbox">
                                <i class="icon icon-colours"></i>
                                <div class="box">
                                    <h4 class="title">Event Management</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="iconbox">
                                <i class="icon icon-tools"></i>
                                <div class="box">
                                    <h4 class="title">Workshop Management and Planning</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="iconbox">
                                <i class="icon icon-rocket"></i>
                                <div class="box">
                                    <h4 class="title">Web Development</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="iconbox">
                                <i class="icon icon-classic-computer"></i>
                                <div class="box">
                                    <h4 class="title">App Development</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="iconbox">
                                <i class="icon icon-add-user"></i>
                                <div class="box">
                                    <h4 class="title">PR/Publicity</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <!-- Fun Facts / Counters -->
            <section class="section counters">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <div class="numbers">
                                <span class="number" data-from="0" data-to="10" data-speed="2000" data-refresh-interval="50"></span>
                                <span class="number-info">Online Activities</span>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="numbers">
                                <span class="number" data-from="0" data-to="5" data-speed="2000" data-refresh-interval="50"></span>
                                <span class="number-info">Alpha Activities</span>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="numbers">
                                <span class="number" data-from="0" data-to="15" data-speed="2000" data-refresh-interval="50"></span>
                                <span class="number-info">Beta Activities</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Team -->
            <section class="section team text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <hgroup class="title-group">
                                <h3 class="section-title">Meet our team</h3>
                                <h5 class="subtitle">Miles to go before we sleep</h5>
                            </hgroup>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <section class="cards flex flex-center">
                                <div class="card">
                                    <div class="card-media">
                                        <figure class="figure">
                                            <img src="{% static 'img/thumbs/Divyanshu Singh.jpg' %}" alt="customer" />
                                            <figcaption class="overlay flex flex-middle flex-center">
                                                <ul class="social-list">
                                                    <li><a href="https://www.facebook.com/divyanshu.singh.4236" target="_blank" class="icon icon-facebook"></a></li>
                                                    <li><a href="https://twitter.com/divyanshu4236" target="_blank" class="icon icon-twitter"></a></li>
                                                    <li><a href="mailto:divyanshu4236@gmail.com" target="_blank" class="icon icon-email"></a></li>
                                                    <li><a href="https://www.instagram.com/divyanshu4236/" target="_blank" class="icon icon-instagram"></a></li>
                                                </ul>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <h4 class="bold">Divyanshu Singh</h4>
                                        <h5>Team Leader</h5>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-media">
                                        <figure class="figure">
                                            <img src="{% static 'img/thumbs/aishwarykumar.jpg' %}" alt="customer" />
                                            <figcaption class="overlay flex flex-middle flex-center">
                                                <ul class="social-list">
                                                    <li><a href="https://www.facebook.com/aishwarykumar.tiwari.3" target="_blank" class="icon icon-facebook"></a></li>
                                                    <!-- <li><a href="#" class="icon icon-twitter"></a></li> -->
                                                    <li><a href="mailto:aishwarykumar1947@gmail.com" target="_blank" class="icon icon-email"></a></li>
                                                    <!-- <li><a href="#" class="icon icon-instagram"></a></li> -->
                                                </ul>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <h4 class="bold">Aishwary Kumar</h4>
                                        <h5>Planning Executive</h5>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-media">
                                        <figure class="figure">
                                            <img src="{% static 'img/thumbs/gulasnani.jpg' %}" alt="customer" />
                                            <figcaption class="overlay flex flex-middle flex-center">
                                                <ul class="social-list">
                                                    <li><a href="https://www.facebook.com/gul.asnani.90" target="_blank" class="icon icon-facebook"></a></li>
                                                    <li><a href="https://twitter.com/gul_asnani" target="_blank" class="icon icon-twitter"></a></li>
                                                    <li><a href="mailto:gulasnani7@gmail.com" target="_blank" class="icon icon-email"></a></li>
                                                    <li><a href="https://www.instagram.com/gul_asnani/?hl=en" target="_blank" class="icon icon-instagram"></a></li>
                                                </ul>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <h4 class="bold">Gul Asnani</h4>
                                        <h5>Developer</h5>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-media">
                                        <figure class="figure">
                                            <img src="{% static 'img/thumbs/jaggi.jpg' %}" alt="customer" />
                                            <figcaption class="overlay flex flex-middle flex-center">
                                                <ul class="social-list">
                                                    <li><a href="https://m.facebook.com/Dorkasauroustyrannianiac" target="_blank" class="icon icon-facebook"></a></li>
                                                    <li><a href="https://twitter.com/gitanjali_jaggi" target="_blank" class="icon icon-twitter"></a></li>
                                                    <li><a href="mailto:jaggi.gitanjali973@gmail.com" target="_blank" class="icon icon-email"></a></li>
                                                    <li><a href="https://www.instagram.com/dorkasauroustyrannianiac/" target="_blank" class="icon icon-instagram"></a></li>
                                                </ul>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <h4 class="bold">Gitanjali Jaggi</h4>
                                        <h5>PR/Publicity Head</h5>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
					 <div class="row">
                        <div class="col-md-12">
                            <section class="cards flex flex-center">
                                <div class="card">
                                    <div class="card-media">
                                        <figure class="figure">
                                            <img src="{% static 'img/thumbs/MayankArya.jpg' %}" alt="customer" />
                                            <figcaption class="overlay flex flex-middle flex-center">
                                                <ul class="social-list">
                                                    <li><a href="https://www.facebook.com/mayank.arya.568" target="_blank" class="icon icon-facebook"></a></li>
                                                    <!-- <li><a href="#" class="icon icon-twitter"></a></li> -->
                                                    <li><a href="mailto:mayankarya18021998@gmail.com" target="_blank" class="icon icon-email"></a></li>
                                                    <!-- <li><a href="#" class="icon icon-instagram"></a></li> -->
                                                </ul>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <h4 class="bold">Mayank Arya</h4>
                                        <h5>Event Management Executive</h5>
                                    </div>
                                </div>
                                 <div class="card">
                                    <div class="card-media">
                                        <figure class="figure">
                                            <img src="{% static 'img/thumbs/ashishkumar.jpg' %}" alt="customer" />
                                            <figcaption class="overlay flex flex-middle flex-center">
                                                <ul class="social-list">
                                                    <li><a href="#" target="_blank" class="icon icon-facebook"></a></li>
                                                    <li><a href="#" target="_blank" class="icon icon-twitter"></a></li>
                                                    <li><a href="#" target="_blank" class="icon icon-email"></a></li>
                                                    <li><a href="#" target="_blank" class="icon icon-instagram"></a></li>
                                                </ul>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <h4 class="bold">Naman</h4>
                                        <h5>Developer</h5>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-media">
                                        <figure class="figure">
                                            <img src="{% static 'img/thumbs/ajackson.jpg' %}" alt="customer" />
                                            <figcaption class="overlay flex flex-middle flex-center">
                                                <ul class="social-list">
                                                    <li><a href="https://www.facebook.com/anchit.gulati.98" target="_blank" class="icon icon-facebook"></a></li>
                                                    <!-- <li><a href="#" class="icon icon-twitter"></a></li> -->
                                                    <li><a href="mailto:ajacksonrocks321@gmail.com" target="_blank" class="icon icon-email"></a></li>
                                                    <!-- <li><a href="#" class="icon icon-instagram"></a></li> -->
                                                </ul>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <h4 class="bold">Anchit</h4>
                                        <h5>PR/Publicity Executive</h5>
                                    </div>
                                </div>
								                                <div class="card">
                                    <div class="card-media">
                                        <figure class="figure">
                                            <img src="{% static 'img/thumbs/member3.jpg' %}" alt="customer" />
                                            <figcaption class="overlay flex flex-middle flex-center">
                                                <ul class="social-list">
                                                    <li><a href="https://www.facebook.com/rajyavardhan.singh.75" target="_blank" class="icon icon-facebook"></a></li>
                                                    <li><a href="https://twitter.com/ak33x" target="_blank" class="icon icon-twitter"></a></li>
                                                    <li><a href="mailto:imagine054@gmail.com" target="_blank" class="icon icon-email"></a></li>
                                                    <li><a href="https://www.instagram.com/ak33xx/?hl=en" target="_blank" class="icon icon-instagram"></a></li>
                                                </ul>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <h4 class="bold">Rajyavardhan singh</h4>
                                        <h5>Developer</h5>
                                    </div>
                                </div>


                            </section>
                        </div>
                    </div>
                </div>
            </section>





        </main>

        <!-- Footer -->
        <footer class="footer" role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="social-list">
                            <li><a href="https://www.facebook.com/IRSCDelTech/" target="_blank" class="icon icon-facebook"></a></li>
                            <li><a href="https://www.twitter.com/irscDeltech/" target="_blank" class="icon icon-twitter"></a></li>
                            <li><a href="https://www.instagram.com/irscdeltech/" target="_blank" class="icon icon-instagram"></a></li>
                            <li><a href="https://in.pinterest.com/irscDeltech/" target="_blank" class="icon icon-pinterest"></a></li>
                            <li><a href="mailto:solvedtu@gmail.com" target="_blank" class="icon icon-email"></a></li>

                        </ul>
                        <nav class="foter-navbar" role="navigation">

                        </nav>
                        <p class="copyright">&copy; <time datetime="2015">2017</time> IRSC Delhi Technology University, All Rights Reserved, Made with <i class="icon icon-heart"></i> by IRSC DTU Chapter</p>
                    </div>
                </div>
            </div>
        </footer>
{% endblock %}
